:root {
  --clr-bg: #808080;
  --clr-font: #ffff00;
  --clr-dark: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*::selection {
  color: var(--clr-bg);
  background: var(--clr-font);
}

html {
  background-color: var(--clr-bg);
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.heading {
  border: 10px solid #000;
  background-color: #ffff00;
  padding: 2rem;
  outline: 10px solid skyblue;
}