:root {
  --clr-bg: #525151;
  --clr-font: #ffff00;
  --clr-dark: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*::selection {
  color: var(--clr-bg);
  background: var(--clr-font);
}

html {
  background-color: var(--clr-bg);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  height: 50vh;
  width: 50%;
  background-image: url(./assets/g_1.jpg), url(./assets/g_2.jpg);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  padding: 15px;
}