:root {
  --clr-bg: #525151;
  --clr-font: #ffff00;
  --clr-dark: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*::selection {
  color: var(--clr-bg);
  background: var(--clr-font);
}

html {
  background-color: var(--clr-bg);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  width: 300px;
  height: 300px;
  border: 10px solid transparent;
  border-image: url(./assets/g_1.jpg) 30 round;
  background-color: violet;
  border-start-start-radius: 30px;
  border-start-end-radius: 100px;
  border-bottom-right-radius: 50px;
}